@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

:root {
  --blue: #29d9d5;
  --black: #111;
  --white: #fff;
  --light-color: #aaa;
  --bg-color: #222;
  --black-bg: rgba(17, 17, 17, 0.7);
  --border: 0.2rem solid var(--blue);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--black);
}

html::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 5rem;
}
body {
  background: var(--black);
  overflow-x: hidden;
}
section{
  padding: 3rem 9%;
}
.btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: var(--blue);
  border: var(--border);
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}
.btn:hover {
  background: var(--blue);
  color: var(--black);
}
.heading{
  text-align: center;
  margin-bottom: 2rem;
}
.heading span{
  color: var(--blue);
  font-size: 2rem;
}
.heading h2{
  font-size: 4rem;
  color: var(--white);
}

/* header style */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;
}
.logo {
  font-size: 2.5rem;
  color: var(--white);
  font-weight: bolder;
}
.logo i {
  color: var(--blue);
  padding-right: 0.5rem;
}
.navBar a {
  font-size: 1.7rem;
  color: var(--light-color);
  display: inline-block;
  margin: 0 0.7rem;
}
.navBar a:hover {
  color: var(--blue);
}

#menu-btn {
  font-size: 2.5rem;
  color: var(--white);
  cursor: pointer;
  display: none;
}
/* home style */
.home{
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  min-height: 80rem;
  border-radius: 1rem;
  background: linear-gradient(var(--black-bg),var(--black-bg)), url(./images/home-bg.jpg) no-repeat ;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}
.home .content{
  text-align: center;
}
.home .content span{
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: .1rem var(--white);
  font-size: 4vw;
  display: block;
}
.home .content h3{
  font-size: 6vw;
  color: var(--white);
}
.home .content p{
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
/* book form style */
.book-form{
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}
.book-form form{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.book-form form .inputBox{
  flex: 1 1 25rem;
}
.book-form form .inputBox span{
  font-size: 1.4rem;
  color: var(--light-color);
}
.book-form form .inputBox input{
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: var(--border);
  font-size: 1.6rem;
  color: var(--light-color);
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .btn{
  flex: 1 1 15rem;
}

/* About style */
.about{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about .video-container{
  flex: 1 1 42rem;
}
.about .video-container video{
  border-radius: 1rem;
  width: 100%;
}
.about .video-container .controls{
  text-align: center;
  padding: 2rem 0;
}
.about .video-container .controls span{
  display: inline-block;
  margin: .7rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--white);
  cursor: pointer;
}
.about .video-container .controls span:hover{
  background: var(--blue);
}
.about .content{
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}
.about .content span{
  color: var(--blue);
  font-size: 2rem;
}
.about .content span{
  color: var(--blue);
  font-size: 2rem;
}
.about .content h3{
  color: var(--white);
  font-size: 4rem;
  margin-top: 0.5rem;
}
.about .content p{
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
/* destination styles */
.destination .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.destination .box-container .box{
  border-radius: 1rem;
  overflow: hidden;
  background: var(--bg-color);
}
.destination .box-container .box:hover img{
  transform: scale(1.1);
}
.destination .box-container .box .image{
  height: 20rem;
  width: 100%;
  overflow: hidden;
}
.destination .box-container .box .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.destination .box-container .box .content{
  padding: 2rem;
  text-align: center;
}
.destination .box-container .box .content h3{
  font-size: 2rem;
  color: var(--white);
}
.destination .box-container .box .content p{
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
.destination .box-container .box .content a{
  font-size: 1.7rem;
  color: var(--blue);
}
.destination .box-container .box .content a:hover i{
  padding-left: 1rem;
}
.destination .box-container .box .content a i{
  padding-right: 0.5rem;
}

/* services style */
.services .box-container{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}
.services .box-container .box{
  background: var(--bg-color);
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
}
.services .box-container .box:hover{
  box-shadow: 0 1px 20px -3px var(--blue) inset;
}
.services .box-container .box i{
  font-size: 4rem;
  color: var(--blue);
  margin-bottom: 2rem;
}
.services .box-container .box h4{
  font-size: 2rem;
  color: var(--white);
}
.services .box-container .box p{
  padding: 1rem 0;
  font-size: 1.4rem;
  color: var(--light-color);
  line-height: 2;
}
/* Gallery style */
.gallery .box-container{
  columns: 3 35rem;
  column-gap: 1.5rem;
}
.gallery .box-container .box{
  margin-bottom: 1.5rem;
  break-inside: avoid;
}
.gallery .box-container .box img{
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.gallery .box-container .box span{
  font-size: 1.4rem;
  color: var(--light-color);
}
.gallery .box-container .box h5{
  margin-top: 0.5rem;
  font-size: 2rem;
  color: var(--white);
}







/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section{
    padding: 3rem 2rem;
  }
  .header {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .btn {
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
  }
  .navBar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    color: var(--white);
    cursor: pointer;
    background: var(--bg-color);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navBar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .navBar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
    padding-left: 1.5rem;
    border-radius: 2rem;
  }
  .navBar a:hover{
    background: var(--blue);
    color: var(--black);
  }
  .home{
    margin-top: 10rem;
  }
  .home .content span{
    font-size: 8vw;
  }
  .home .content h3{
    font-size: 9vw;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .btn {
    padding: .7rem 2rem;
  }
  .about .content h3{
    font-size: 3.5rem;
  }
}
